@import "tailwindcss";

@theme {
  --font-product-sans: 'Product Sans', 'Outfit', 'Inter', sans-serif;
  --color-brand-blue: #009cdb;
  --color-brand-bg: #040406;

  /* Custom Gradients */
  --image-gradient-main: linear-gradient(80.28deg, rgb(11, 42, 54) 48.25%, rgb(17, 66, 85) 73.6%, rgb(11, 42, 54) 87.19%);
}

:root {
  font-family: var(--font-product-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: white;
  background-color: var(--color-brand-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-brand-bg);
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}

.text-stroke-2 {
  -webkit-text-stroke: 2px #444;
  color: transparent;
}